<h3>Welcome</h3>
<h4>List of things to change...</h4>
<ul>
  <li> Style the application layout</li>
  <li> Change the name of Payee to Purpose - Done</li>
  <li> Change the name of Description to Memo - Done</li>
  <li> Add a "date picker" - Done</li>
  <li> Add a mileage calculation</li>
  <li> Fix datepicker position</li>
</ul>