%td= object.name
%td.actions= smart_listing_item_actions [ { name: :edit,    url: edit_expense_type_path(object)},
                                          { name: :destroy, url: expense_type_path(object),
                                            confirmation: "Are you sure you want to delete this expense type?"}]