%ul.nav.navbar-nav
  %li= link_to 'Expenses', expenses_path
  %li= link_to 'Expense Types', expense_types_path
%ul.nav.navbar-nav.navbar-right(style="padding-right: 15px;")
  %li= link_to 'About', '/about'